.search-bar{
position: relative;
}
.search-bar ul{
     position: absolute;
     z-index: 99;
     border: 1px solid #cecece;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
     left: 0;
     right: 0;
     list-style-type: none;
     margin: 0;
     padding: 10px 20px;
     line-height: 30px;
}